<nav class="navbar navbar-light mb-2" style="background-color: #9dbfb0;">
    <div class="container-fluid">
      <a class="navbar-brand" href="/home">Just Think</a>
      
        <form class="d-flex" action="/u/search" method="post">
          <input class="form-control me-2" type="search" name="nick" placeholder="Search" aria-label="Search">
          <button class="btn btn" type="submit">Procurar</button>
        </form>

        <div class="dropdown">
          <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            Minha conta
          </a>

          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" href="/u/<%= user.nick %>">Conta</a></li>
            <li><a class="dropdown-item" href="#">Configurações</a></li>
            <li>
              <form action="/logout" method="post">
                <button type="submit" class="dropdown-item text-danger" href="/logout">Sair</button>
              </form>
            </li>
          </ul>
        </div>

  </div>
</nav>