<nav class="navbar navbar-light mb-2" style="background-color: #9dbfb0;">
    <div class="container-fluid">
      <a class="navbar-brand">Just Think</a>
        <div class="dropdown">
          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            Minha conta
          </a>

          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" href="#">Conta</a></li>
            <li><a class="dropdown-item" href="#">Configurações</a></li>
            <li>
              <form action="/logout" method="post">
                <button type="submit" class="dropdown-item text-danger" href="/logout">Sair</button>
              </form>
            </li>
          </ul>
        </div>

  </div>
</nav>