<%- include("partials/header.ejs") %>
<%- include("partials/navbar.ejs") %>

<div class="col col-12 col-md-10" style="box-shadow: rgba(0, 0, 0, 0.116) 1px 8px 24px;">
    <div class="conteudos">
        <%- include("./partials/conteudos/showConteudos") %>
    </div>
</div>

<%- include("partials/footer") %>