.conteudos{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    margin-top: 7px;
    height: 90vh;
    overflow-y: auto;
}
.post .post-header{
    height: 30px;
    background: white;
    border-bottom: 1px solid rgba(185, 185, 185, 0.37);
}
.post .post-body{
    padding: 10px;
    background: white;
}
.post .post-body p{
    min-height: 30px;
}
.post .post-footer{
    border-top: 1px solid rgb(185, 185, 185, 0.37);
    padding: 3px;
    background: white;
}
.post .post-header a{
    text-decoration: none;
    margin-left: 10px;
}

.setup-user{
    height: 300px;
    display: flex;
    position: relative;
    margin-bottom: 30px;
    box-shadow: 0px 2px 20px #4c6d5e8c;
}
.fundo-user{
    position: relative;
    border: 1px solid black;
    width: 100%;
}
.info-user{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 7px;
}
.nick{
    font-size: large;
    font-weight: 600;
    margin-right: 7px;

}
.img-user-background{
    z-index: -1;
    position: absolute;
    background-color: #4c6d5eab;
    width: 100%;
    height: 100%;
}
.img-user{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    margin: 4px;
}

@media only screen and (max-width: 768px) {
    .post{
        width: 350px !important;
        margin-bottom: 30px;
    }
    .conteudos .card{
        width: 350px !important; 
        margin-bottom: 30px;
    }
    .info-user{
        flex-direction: column;
        padding-bottom: 10px;
    }
}
@media only screen and (min-width: 769px) {
    .post{
        width: 500px !important;
        margin-bottom: 30px;
    }
    .conteudos .card{
        width: 500px !important; 
        margin-bottom: 30px;
    }
}
@media only screen and (min-width: 992px) {
    .post{
        width: 700px !important;
        margin-bottom: 30px;
    }
    .conteudos .card{
        width: 700px !important; 
        margin-bottom: 30px;
    }
}
