<div class="col col-12 col-md-2">
    <div>
        Pesquisar pessoas
    </div>
    <div>
        trend top
    </div>
    <div>
        recomendações para seguir
    </div>
    <div>
        teste
    </div>
</div>