<div class="col col-12 col-md-10" style="background-color: #eaf3f4;">

    <div class="conteudos">


        <% if((typeof explorar !== "undefined")){ %>
            <h4 class="mb-5">Explorar</h4>
        <% }else{ %>
            <div class="card mb-4" style="width: 700px;">
                <div class="card-header">
                    Me diga, o que você esta pensando?
                </div>
                <div class="card-body">
                    <form action="/c/create" method="post">
                        <textarea name="conteudo" id="conteudo" class="form-control"></textarea>
                        <button class="btn btn-outline-success form-control mt-1">Diga ao mundo</button>
                    </form>
                </div>
            </div>
        <% } %>

        <% conteudos.forEach(conteudo=>{ %>

            <% if(conteudo != null){ %>
                <div class="post">
                    <div class="post-header">
                            <a class="link-info" href="/u/<%= conteudo.user.nick %>"><%= conteudo.user.nick %></a>
                    </div>
                    <div class="post-body">
                        <p><%= conteudo.body %></p>
                    </div>
                    <div class="post-footer">
    
                        <form action="" method="post">
                            <input type="hidden" value="<%= conteudo.id %>">
                        </form>
    
                        Like | comentar 
                    </div>
                </div>
            <% } %>

        <% }) %>

        
    </div>
    
</div>